<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error <%= error %></title>
</head>
<body>
<main>
    <h1>Error <%= error %> at path <%= path %></h1>
</main>
</body>
</html>