<hr>
<footer>
    <small><a href="/rss">RSS feed</a> - @<%= new Date().getFullYear() %> - Made with <a
                href="https://github.com/klemek/gitblog.md">GitBlog.md</a> (v<%= info.version %>)
    </small>
</footer>