<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitBlog.md - Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main>
    <h1>GitBlog.md</h1>
    A static blog using Markdown pulled from your git repository
    <h2>Articles in this blog :</h2>
    <% articles.forEach((article) => { %>
        <div class="article">
            <h3><%- `<a href="${article.url}">${article.title}</a>` %> (
                <small><%= `${article.day}/${article.month}/${article.year}` %></small>
                )
            </h3>
            <% if(article.thumbnail){ %>
                <%- `<img alt="thumbnail" src=${article.thumbnail}>` %>
            <% } %>
        </div>
    <% }); %>
</main>
</body>
</html>