main {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
}

.article a, .article a:visited {
    color: black;
}

.article a:visited {
    color: black;
}

.article img {
    max-width: 100%;
    max-height: 10vh;
}