<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitBlog.md - Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main>
    <%- article.content %>
</main>
</body>
</html>